<div class="terms_and_conditions_box">
  <h4><%= Spree.t('terms_and_conditions.title') %></h4>

  <div class="terms_and_conditions_text">
    <%= render 'spree/checkout/terms_and_conditions_text' %>
  </div>

  <div style="margin-top: 5px;">
    <%= form.check_box :terms_and_conditions %> <%= label_tag(:terms_and_conditions, Spree.t('terms_and_conditions.checkbox')) %>
  </div>
</div>
<%= submit_tag Spree.t(:save_and_continue), :class => 'button-primary' %>
