<div class="hidden-xs hidden-sm">
<% if !::SpreeQuotesManagement::Config[:disable_quote] %>
  <% if @top_quotes.present? %>

    <div class='quotes-carousel'>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators1">
          <% @top_quotes.each_with_index do |slide, index| %>
            <li data-target="#carousel-prod" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
          <% end %>
        </ol>

        <div class="carousel-inner owl-carousel" role="listbox" >
          <% @top_quotes.each_with_index do |quote, index| %>
            <div class="item <%= index == 0 ? 'active' : '' %>">
              <div class="body-carousel" style="" >
                <span class="testimonial-text">
                  <%= quote.description %>
                </span>
                <div class='author-name pull-right'>
                  - <%= present(quote).author_name %>
                </div>
              </div>
            </div>
          <% end %>
        </div>


      </div>
    </div>
  <% end %>



<% end %>

</div>

<% if spree_current_user %>
  <div id='user_quotes_new_form' class='row row-no-margin hidden-xs hidden-sm'>
    <%= render partial: 'spree/quotes/form', locals: { quote: @quote } %>
  </div>
<% end %>



<script>

var owl = $('.owl-carousel');
owl.owlCarousel({
    items:1,
    loop:true,
    margin:10,
    autoHeight:true,
    autoplay:true,
    autoplayTimeout:3000,
    touchDrag: true,
    autoplayHoverPause:true

});

// hidden-lg hidden-md
</script>


<style>


  .quotes-carousel .carousel-inner {
    background: transparent;
    border: #eee solid 3px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }
  .quotes-carousel .carousel-control.left,
  .quotes-carousel .carousel-control.right {
    background-image: none ;
  }
  .quotes-carousel .carousel-control {
    display: none;
  }
  .quotes-carousel:hover .carousel-control {
    display: block;
  }
  .quotes-carousel .carousel-indicators li {
    border-color: #444;
  }
  .quotes-carousel .carousel-indicators .active {
    background-color: #444;
  }
  .quotes-carousel .body-carousel {
    font-size: 14px;
    padding: 10px 0;
    color: #444;
  }
  .quotes-carousel .author-name {
    font-style: italic;
    font-weight: normal;
    padding: 0 20px 0 0;
  }
  .quotes-carousel .body-carousel {
    min-height: 200px;
  }
  .quotes-carousel .testimonial-text {
    padding: 10px 30px;
    width: 100%;
    float: left;
  }
  .quotes-carousel .carousel-control .glyphicon-chevron-left,
  .quotes-carousel .carousel-control .icon-prev {
    margin-left: -17px;
    color: #444;
    text-shadow: none;
  }
  .quotes-carousel .carousel-control .glyphicon-chevron-right,
  .quotes-carousel .carousel-control .icon-next {
    margin-right: -17px;
    color: #444;
    text-shadow: none;
  }
  .quotes-carousel {
    margin: 0 0 20px;
  }
  .quotes-carousel .carousel-indicators {
    bottom: 0;
  }
  .quotes-carousel .carousel-indicators li {
    margin: 1px 3px;
  }
  .quotes-carousel .carousel-indicators li:hover {
    cursor: auto;
  }

/* .body-carousel1 {
  min-height: 250px;
  font-size: 14px;
  padding: 10px 0;
  color: #444;
}
.carousel-inner1 {
  background: transparent;
  border: #eee solid 3px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.quotes-carousel .testimonial-text {
  padding: 10px 30px;
  width: 100%;
  float: left;
} */
</style>
